* {
  margin: 0;
  padding: 0;
}
body {
  background: #051923;
  text-align: center;
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}
h1 {
    font-size: 3rem;
  color: #006494;
  height: 5rem;
}
.choice {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choice:hover{
  cursor: pointer;
  box-shadow: 0px 0px 10px 10px #00A6FB;
  transition: box-shadow 0.2s ease-in-out;
}

img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}
.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 5rem;
  font-size: 2rem;
}
.score{
    padding: 2rem;
    background: #00A6FB;
    color: #003554;
    border-radius: 10%;
}
#user-score, #cpu-score {
    font-size: 3rem;
    color: #051923;
}
.message-container{
    font-size: 2rem;
    color: #0582CA;
    margin-top: 3rem;
}